name: Build & Deploy .NET App (Dev / QA / UAT)

on:
  push:
    branches:
      - main
  workflow_dispatch:

env:
  DOTNET_VERSION: '8.0.x'
  PROJECT_PATH: src/SampleWebApp/SampleWebApp.csproj
  PUBLISH_DIR: publish

jobs:
  deploy:
    runs-on: windows-latest

    strategy:
      fail-fast: false
      matrix:
        environment: [dev]
      #  environment: [dev, qa, uat]

    environment: ${{ matrix.environment }}

    steps:
    # ----------------------------
    # Checkout
    # ----------------------------
    - name: Checkout code
      uses: actions/checkout@v4

    # ----------------------------
    # Azure Login (Service Principal)
    # ----------------------------
    - name: Login to Azure
      uses: azure/login@v2
      with:
         creds: >
            {
              "clientId": "${{ vars.AZURE_CLIENT_ID }}",
              "clientSecret": "${{ secrets.AZURE_CLIENT_SECRET }}",
              "tenantId": "${{ vars.AZURE_TENANT_ID }}",
              "subscriptionId": "${{ vars.AZURE_SUBSCRIPTION_ID }}"
            }

        

    # ----------------------------
    # Setup .NET
    # ----------------------------
    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: ${{ env.DOTNET_VERSION }}

    # ----------------------------
    # Restore
    # ----------------------------
    - name: Restore
      run: dotnet restore ${{ env.PROJECT_PATH }}

    # ----------------------------
    # Build
    # ----------------------------
    - name: Build
      run: dotnet build ${{ env.PROJECT_PATH }} --configuration Release --no-restore

    # ----------------------------
    # Publish
    # ----------------------------
    - name: Publish
      run: dotnet publish ${{ env.PROJECT_PATH }} --configuration Release --no-build --output ${{ env.PUBLISH_DIR }}



    # ----------------------------
    # Deploy using Azure CLI
    # ----------------------------
    - name: Deploy to Azure Web App
      shell: pwsh
      run: |
        az webapp deploy `
          --resource-group ${{ vars.AZURE_RESOURCE_GROUP }} `
          --name ${{ vars.AZURE_WEBAPP_NAME }} `
          --src-path ${{ env.PUBLISH_DIR }} `
          --type zip


    # ----------------------------
    # App Settings (Environment + Secrets)
    # ----------------------------
    - name: Configure App Settings
      shell: pwsh
      run: |
        az webapp config appsettings set `
          --resource-group ${{ vars.AZURE_RESOURCE_GROUP }} `
          --name ${{ vars.AZURE_WEBAPP_NAME }} `
          --settings `
            ASPNETCORE_ENVIRONMENT=${{ matrix.environment == 'dev' && 'Development' || matrix.environment == 'qa' && 'QA' || 'UAT' }} `
            MY_SECRET=${{ secrets.MY_SECRET }}
